<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Chamado SW Password</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
	<h1>Password</h1>
      <p>Nome: {{ fname }} Senha: {{ password }}</p>
    </div>
  </section>
</body>
</html>
